rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() && request.auth.token.email.matches('(?i)^krb\.mullegama@gmail\.com$');
    }

    match /site/{documentId} {
      allow read: if true;
      allow write: if isAdmin() && (documentId == 'content' || documentId == 'coreContent' || documentId == 'posts' || documentId == 'certificates' || documentId == 'metrics');
    }

    match /posts/{postId} {
      allow read: if true;
      allow write: if isAdmin();

      match /comments/{commentId} {
        allow read: if true;
        allow create: if signedIn();
        allow update, delete: if isAdmin() || (signedIn() && request.auth.uid == resource.data.authorId);
      }

      match /likes/{userId} {
        allow read: if true;
        allow create, delete: if signedIn() && request.auth.uid == userId;
      }
    }

    match /followers/{userId} {
      allow read: if true;
      allow create, delete: if signedIn() && request.auth.uid == userId;
    }
  }
}